#icon {
    width: 35px;
    height: auto;
    margin: 0px 10px 0;
}

#brand {
    color: #d9d9d9;
    font-family: 'Luxurious Roman', Georgia, 'Times New Roman', cursive;
    font-weight: bold;
}

#brand:hover {
    color: #fff;
}

#responsive-navbar-nav {
    margin-top: .5rem;
    font-family: 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (min-width:768px) {
    #responsive-navbar-nav {
        border-color: transparent;
        margin: 0;
    }
}

.link {
    color: #f0eeee;
    margin-right: .5rem;
    text-decoration: none;
}

.link:hover {
    color: #fff;
}

@media (min-width: 768px) {
    .link {
        padding-left: .7rem;
        padding-right: .7rem;
    }
}

@media (min-width: 992px) {
    .link {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}