.hero {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 300;
    min-height: 100vh;
}

.homeCard {
    background: rgba(12, 12, 12, 0.4);
    width: 80%;
    margin-top: 100px;
    font-family: 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.homeCard h1 {
    font-family: 'Luxurious Roman', Georgia, 'Times New Roman', cursive;
    font-weight: bold;
}

.homeCard p {
    font-family: 'Roboto Slab', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}